@media screen and (max-width: 1115px) {
    
}
@media screen and (max-width: 1024px) {
    
}
@media screen and (max-width: 992px) {
    main{
        height: 600px;
    }
}
@media screen and (max-width: 788px) {
    main{
        height: 1900px;
        justify-content: space-evenly;
    }
    .p2{
        font-size:15px;
    }
    .record{
        min-width: 400px;
        height: 30%;
    }
    .record_wrap{
        justify-content: space-evenly;
        height: 55%;
    }
    .record_wrap2{
        height: 35%;
    }
    .record2{
        height: 45%;
    }
}
@media screen and (max-width: 720px) {
    
}
@media screen and (max-width: 680px) {
    
    
}
@media screen and (max-width: 645px) {
    
}
@media screen and (max-width: 639px) {
    
}
@media screen and (max-width: 609px) {
    
}

@media screen and (max-width: 572px) {
    
}
@media screen and (max-width: 493px) {
    main{
        margin-top: -100px;
        height: 1550px;
    }
    .record{
        min-width: 320px;
    }
    p{
        font-size:15px;
    }
    .p2{
        font-size:13.5px;
    }
    h1{
        font-size: 22px;
    }
    .opt{
        font-size: 34px;
    }
    .link2_more{
        font-size: 13px;
    }
    p{
        margin-right: 1.5px;
    }
}
@media screen and (max-width: 455px) {
    
}
@media screen and (max-width: 399px){
    main{
        height: 1200px;
        margin-top: -150px;
    }
    .record{
        min-width: 230px;
    }
    p{
        font-size:12px;
        margin: 0 2px 0 2px ;
    }
    h1{
        font-size: 16px;
        margin: 2px;
    }
    .opt{
        font-size: 27px;
    }
    .link2_more{
        font-size: 9px;
    }
    .record-desc {
        margin:5px 0 0 5px;
    }
    .p2{
        font-size:11px;
    }
}
@media screen and (max-width: 360px){
    main{
        margin-top: -50px;
    }
}
@media screen and (max-width: 340px){
    
}
@media screen and (max-width: 309px){
    
}

